@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}


#main {
    background-image: url(img/bgMAIN.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#about {
    background-image: url(img/bgABOUT.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

#skills {
    background-image: url(img/bgSKILLS.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#works {
    background-image: url(img/bgWORKS.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image__maj {
    height: 186px;
    width: 336px;
    padding: 20px;
}

.maskot {
    width: 125px;
    margin-left: -250px;
}


.decor {
    position: absolute;
    bottom: 0;
    left: 0;
    animation-name: jump;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


.planet {
    position: absolute;
    top: 0;
    right: 0;
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


.cloud {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


header {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    width: 100%
}


.header__logo {
    color: #BBFF2C;
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    position: absolute;
    top: 0;
    left: 0;
}

.header__cards {
    display: flex;
}

.header__card {
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 20px;
    color: black;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    margin: 20px;
    text-decoration: none;
}


.active {
    background-color: #792AFF;
    color: #ffffff;
}

.window__buttons,
.window__buttons::before,
.window__buttons::after{
    height: 22px;
    width: 22px;
    border: 1px black solid;
    border-radius: 50%;
    box-sizing: border-box;
}


.window__buttons::before,
.window__buttons::after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
}


.window__buttons {
    background-color: #FF6A00;
    position: relative;
}

.window__buttons::before {
    background-color: #FFE603;
    left: 31px;
}
    

.window__buttons::after {
    background-color: #04C800;
    left: 62px;
}


.window__heading {
    background-color: #D2D0F7;
    padding: 15px 20px;
}


.window__content {
    background-color: #FFFFFF;
    padding: 40px;

}

.window__main {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px black;
    margin-bottom: 20px;
}

.main__title {
    font-family: Inter;
    font-weight: 700;
    font-size: 80px;
    color: #2B2D35;
}

.main__info {
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 20px;
    color: #2B2D35;
}

.button {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    background-color: #BBFF2C;
    border: 2px solid black;
    border-radius: 100px;
    box-shadow: 10px 5px black;
    padding: 22px 26px;
    display: block;
    transition-duration: 0.5s;
    color: black;
    width: max-content;
    text-decoration: none;
}


.button:hover {
    background-color: #a560ff;
    color: #ffffff;
}


.window__about {
    display: flex;
    align-items: center;
}


.about__title {
    font-family: Inter;
    font-weight: 700;
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 120px;
    text-shadow: 5px 5px black;
}

.about__content {
    background-color: #792AFF;
    color: white;
    padding: 40px;
    padding-right: 20px;
}

.about__info {
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    padding-right: 20px
}

.card {
    background-color: #D2D0F7;
    border-radius: 10px;
    overflow: hidden
}

.window_info {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 20px;
    margin: 20px
}


.window__info {
    font-weight: 700;
}


.skills__title {
    font-family: Inter;
    font-weight: 700;
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 115px;
    text-shadow: 5px 5px black;
}

.window__skills {
    background-color: #D2D0F7;
    border-radius: 10px;
    overflow: hidden;
}


.skills__content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px
}

.skills__info {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.skills__img {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.works__title {
    font-family: Inter;
    font-weight: 700;
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 82px;
    text-shadow: 5px 5px black;
}


.works__content {
    display: flex;
    justify-content: space-between;
}

.works__img {
    height: 300px;
    width: 500px;
}

@keyframes jump {
    from {
        transform: translateY(0);
    }
    
    to {
        transform: translateY(-20px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(-20deg);
    }

    to {
        transform: rotate(20deg);
    }
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(20px);
    }
}

@media (max-width: 1000px) {
    .button {
        font-size: 14px;
    }
    .header__cards {
        display: none;
    }
    .main__title {
        font-size: 30px;

    }
    .main__info {
        font-size: 14px;
    }
    .window__content {
        padding: 16px
    }
    .maskot {
        margin-left: 0;
    }
    .header__logo {
        font-size: 40px;
    }
    .window__about {
        display: flex;
        flex-direction: column-reverse;
    }
    .about__content {
        margin-top: 34px;
        box-shadow: 10px 5px black;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        max-width: 320px;
    }
    .about__title {
        font-size: 30px;
    }
    .about__info {
        font-size: 14px;
    }
    .skills__title {
        font-size: 30px;
    }
    .skills__info {
        font-size: 14px;
    }
    .works__title {
        font-size: 30px;
    }
    .works__content {
        display: flex;
        flex-direction: column;
    }
}