@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
}

section {
    min-height: 100vh;
}


#main {
    background-image: url(img/bgMAIN.png);
}


.maskot {
    width: 125px;
}


.window__buttons,
.window__buttons::before,
.window__buttons::after{
    height: 22px;
    width: 22px;
    border: 1px black solid;
    border-radius: 50%;
    box-sizing: border-box;
}


.window__buttons::before,
.window__buttons::after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
}


.window__buttons {
    background-color: #FF6A00;
    position: relative;
}

.window__buttons::before {
    background-color: #FFE603;
    left: 31px;
}
    

.window__buttons::after {
    background-color: #04C800;
    left: 62px;
}


.window__heading {
    background-color: #D2D0F7;
    padding: 15px 20px;
}


.window__content {
    background-color: #FFFFFF;
}

.window {
    border-radius: 10px;
    overflow: hidden;
}